{% extends 'base.html'%}
{% load static %}
{% block footer%}
    <!-- Your page content goes here -->
    <div class="container" style="margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;">
    
    <footer class="bottom-footer" style="background-color: #333;">
        <div class="footer-content" style=" margin: 0;">
            <p>&copy; 2023 Your Website</p>
            <ul class="footer-links" style="list-style: none;">
                <li style="margin-right: 10px;"><a href="#">Privacy Policy</a></li>
                <li style="margin-right: 10px;"><a href="#">Terms of Service</a></li>
                <li style="margin-right: 0;"><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
  </div>
{% endblock footer%}

